
#environment-indicator {
  /*background-color: rgb(208, 12, 12); Red */
  /*background-color: rgb(0, 88, 142); Drupal blue */
  background-color: rgb(73, 171, 191); /* GO1 light blue */
  position: fixed; top: 0; bottom: 0; right: 0;
  width: 20px;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
  z-index: 200;
  padding-top: 120px;
}

body.environment-indicator-adjust.environment-indicator-left {
  /*margin-left: 20px;*/
}
