
#environment-indicator {
  background-color: rgb(208, 12, 12);
  position: absolute; top: 0px; bottom: 0px; left: 0px;
  width: 30px;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  z-index: 1000;
  padding-top: 5px;
}

body.environment-indicator-adjust.environment-indicator-left {
  margin-left: 30px;
}

body.environment-indicator-adjust.environment-indicator-left #toolbar {
  margin-left: 10px;
}
