#editable-route-preview {
  border: 1px dotted gray;
}

#editable-route-preview:before {
  content: '[route content]';
  font-size: 0.85em;
  display: block;
  margin-top: -20px;
}

.atui-pane-wrapper {
  position: relative;
  background: lightyellow;
  border: 1px dotted gray;
  margin: 10px;
  padding: 10px;
}

.atui-pane-placeholder {
  color: grey;
}

.atui-pane-wrapper:before {
  content: '[pane]';
  font-size: 0.85em;
  display: block;
  margin-top: -20px;
}

.atui-pane-placeholder:hover {
  color: #777;
}

.atui-pane-links { float: right ;}
.atui-pane-links li { display: block; float: left; }
