#editable-route-preview {
  border: 1px dotted gray;
  padding: 10px;
}

#editable-route-preview:before {
  content: 'Content';
  font-size: 0.85em;
  display: block;
  background: lightgray;
  float: left;
  position: relative;
  z-index: 100;
  margin-top: -21px;
  margin-left: -21px;
}

.atui-pane-wrapper {
  position: relative;
  background: lightyellow;
  border: 1px dotted gray;
  margin: 10px;
  padding: 10px;
}

.atui-pane-placeholder {
  color: grey;
}

.atui-pane-wrapper:before {
  content: 'Pane';
  font-size: 0.85em;
  display: block;
  background: lightgray;
  float: left;
  position: relative;
  z-index: 100;
  margin-top: -21px;
  margin-left: -21px;
}

.atui-pane-placeholder:hover {
  color: #777;
}

.atui-pane-links { float: right ;}
.atui-pane-links li { display: block; float: left; }
